<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"/>


</head>
<body>
<nav class="navbar navbar-toggleable-xl navbar-inverse bg-inverse navbar-fixed-top" th:fragment="header">
    <div>
        <a class="navbar-brand" href="/">Campus2Corporate</a>
    </div>
    <div>
        <ul class="nav navbar-nav">
            <li class="active">
                <a class="nav-item" href="/">Home</a>
            </li>
        </ul>
    </div>
</nav>
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
></script>
</body>
</html>