<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Filtered Facebook Posts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <style>
        .bgimg {
            min-height: 100%;
            background: url("backgrnd3.png");
            background-size: cover;
        }
    </style>
</head>
<body>

<div th:replace="fragments/header :: header"></div>
<div class="bgimg">
    <h2 style="padding-top: 50px; color:red; justify-content: center;   text-align: center;">Detected Posts</h2>

    <div class="w3-container">
        <div th:each="post:${feed}">
            <a th:href="${post.link}"
               class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="w3-right-align">
                    <small th:text="${post.createdTime}"></small>
                </div>
                <div class="w3-container w3-large">
                    <div class="w3-right-align">
                        <img th:if="${post.picture}" th:src="${post.picture}"/>
                    </div>
                    <p th:if="${post.message}" th:text="${post.message}" style="text-align: center;"></p>
                    <p th:if="${post.caption}" th:text="${post.caption}" style="text-align: center;"></p>
                    <hr/>
                </div>
            </a>
        </div>
    </div>
</div>
</body>
</html>