<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mules One</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"/>

    <!--<script src="https://use.fontawesome.com/d83564e635.js"></script>-->


    <style>
        body, h1, h5 {
            font-family: "Raleway", sans-serif
        }

        body, html {
            height: 100%
        }

        .bgimg {
            min-height: 100%;
            background: url("backgrnd3.png");
            background-size: cover;
        }

    </style>

</head>
<body>

<!-- ***************************** main page  ***************************** -->

<!--<h1>Mules ONE</h1>-->
<div th:replace="fragments/header :: header"></div>

<div class="bgimg w3-display-container w3-text-red">
    <div class="w3-display-topmiddle w3-jumbo">
        <p>CAMPUS TO CORPORATE</p>
    </div>
    <div class="w3-display-middle w3-container w3-xlarge">
        <div class="w3-container w3-cell">
            <button onclick="document.getElementById('scanner').style.display='block'" class="w3-button w3-red">
                Scan Social Media
            </button>
        </div>
        <div class="w3-container w3-cell w3-border w3-white">
            <header class="w3-container">
                <h1 style="text-align: center;">Resume</h1>
            </header>
            <div class="w3-container">
            <button onclick="document.getElementById('resume').style.display='block'" class="w3-button w3-red">
                Resume
            </button>
            </div>
        </div>
        <div class="w3-container w3-cell">
            <div class="w3-card-4">
            <button onclick="document.getElementById('expectations').style.display='block'" class="w3-button w3-red">
                expectations
            </button>
            </div>
        </div>
    </div>
    <div class="w3-display-bottomleft w3-container">
        <p class="w3-xlarge">IpsumGods</p>
        <p class="w3-large">Powered by Pizza</p>
        <!--p>powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p-->
    </div>
</div>

<!-- ***************************** end  ***************************** -->


<!-- ***************************** Scanner Modal ***************************** -->

<div id="scanner" class="w3-modal " >
    <div class="w3-modal-content w3-animate-zoom">
        <!--<div class="w3-container w3-black w3-display-container">-->
        <!--<span onclick="document.getElementById('scanner').style.display='none'"-->
        <!--class="w3-button w3-display-topright w3-large">x</span>-->
        <!--<h1 style="text-align:center">Social Media Scanner</h1>-->
        <!--</div>-->
        <div class="modal-header w3-red headWidth" >
            <span onclick="document.getElementById('scanner').style.display='none'" class="w3-button w3-display-topright w3-large">x</span>
            <h5 class="modal-title">Social Media Scanner</h5>

        </div>

        <div class="w3-container" id="buttonBox">
            <div class="w3-container w3-cell smButton element" id="facebookButton">
                <form class="formClass" action="/connect/facebook" method="POST">
                    <input type="hidden" name="scope" value="user_posts"/>

                    <button class="smButton" type="submit"><img src="Facebook.png" height="330" width="330"/></button>


                </form>
            </div>
            <div class="w3-container w3-cell smButton element" id="twitterButton">
                <form class="formClass" action="/connect/twitter" method="POST">
                    <button class="smButton" type="submit"><img src="Twitter.png" height="330" width="330"/> </button>

                </form>
            </div>
        </div>
    </div>
</div>
<!-- ***************************** end  ***************************** -->


<!-- ***************************** facebook submodal  ***************************** -->

<div id="facebook" class="w3-modal">
    <div class="w3-modal-content w3-animate-zoom">
        <div class="w3-container w3-black w3-display-container">
            <span onclick="document.getElementById('facebook').style.display='none'"
                  class="w3-button w3-display-topright w3-large">x</span>
            <h1>Facebook</h1>
        </div>

        <div class="w3-container">
            <p>

            </p>
        </div>
    </div>
</div>

<!-- *****************************  end ***************************** -->


<!-- ***************************** twitter submodal  ***************************** -->

<div id="twitter" class="w3-modal">
    <div class="w3-modal-content w3-animate-zoom">
        <div class="w3-container w3-display-container">
            <span onclick="document.getElementById('twitter').style.display='none'"
                  class="w3-button w3-display-topright w3-large">x</span>
            <h1>Twitter</h1>
        </div>

        <div class="w3-container">
            <p>Something here</p>
        </div>
    </div>
</div>

<!-- ***************************** end  ***************************** -->


<!-- ***************************** resume modal ***************************** -->
<div id="resume" class="w3-modal">
    <div class="w3-modal-content w3-animate-zoom">
        <div class="w3-container">
            <div class="modal-header">
                <span onclick="document.getElementById('resume').style.display='none'" class="w3-button w3-display-topright w3-large">x</span>
                <h5 class="modal-title">Resume Builder</h5>

            </div>
            <div class="modal-body">
                <div class="form-group">

                    <form action="#" th:action="@{/resume}" th:object="${resume}" method="POST">
                        <h2>Personal Information</h2>

                        <p id="rNameParent">
                            <input type="text" class="form-control"
                                   placeholder="Name"
                                   name="Name"
                                   id="rName" th:field="*{name}"/>
                            <input type="text" placeholder="Address" class="form-control"
                                   name="Address" id="rAddress" th:field="*{address}"/>
                            <input type="text" placeholder="Phone Number" name="Phone Number" class="form-control"
                                   id="rPhone"/>
                            <input type="text" placeholder="Email" th:field="*{email}"
                                   class="form-control" name="Email" id="rEmail"/>
                            <input type="text" placeholder="LinkedIn" th:field="*{linkedIn}" class="form-control"
                                   name="LinkedIn" id="rLinkedIn"/>
                            <input type="text" placeholder="Repository" th:field="*{repository}" class="form-control"
                                   name="Repository" id="rRepository"/></p>

                        <h2>Work Experience</h2>

                        <p id="rWorkParent">
                            <input type="text" placeholder="Position" th:field="*{position}" class="form-control"
                                   name="Position" id="rPosition"/>
                            <input type="text" placeholder="Company" th:field="*{company}" class="form-control"
                                   name="Company" id="rCompany"/>
                            <input type="text" placeholder="Start Date" th:field="*{startDate}" class="form-control"
                                   name="Start Date" id="rStart"/>
                            <input type="text" placeholder="End Date" th:field="*{endDate}" class="form-control"
                                   name="End Date" id="rEnd"/></p>

                        <h2>Education</h2>

                        <p id="rEducationParent">
                            <input type="text" placeholder="University" th:field="*{university}" class="form-control"
                                   name="University" id="rUniversity"/>
                            <input type="text" placeholder="Program" th:field="*{program}" class="form-control"
                                   name="Program" id="rProgram"/>
                            <input type="text" placeholder="Degree" th:field="*{degree}" class="form-control"
                                   name="Degree" id="rDegree"/></p>
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-primary" value="Submit Form"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div class="modal-backdrop fade in"></div>-->

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
</body>
</html>

