<!DOCTYPE html>
<html>
<head>
    <title>Mules One</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

    <style>
        body, h1, h5 {
            font-family: "Raleway", sans-serif
        }

        body, html {
            height: 100%
        }

        .bgimg {
            min-height: 100%;
            background: url('backgrnd3.png') center;
            background-size: cover;
        }
    </style>

    <script>

        // nav bar controls 1 and 2
        function closeScanner() {
            var x = document.getElementById("scanner");
            document.getElementById('facebook').style.display = 'none';
        }


    </script>


</head>
<body>

<div id="fb-root"></div>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10&appId=220697878470502";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<!-- ***************************** main page  ***************************** -->

<div class="bgimg w3-display-container w3-text-red">
    <div class="w3-display-middle w3-jumbo">
        <p>CAMPUS TO CORPORATE</p>
    </div>
    <div class="w3-display-topleft w3-container w3-xlarge">
        <p>
            <button onclick="document.getElementById('scanner').style.display='block'" class="w3-button w3-red">
                scanner
            </button>
        </p>
        <p>
            <button onclick="document.getElementById('resume').style.display='block'" class="w3-button w3-red">
                resume
            </button>
        </p>
        <p>
            <a href=".idea/expectations.html">
                <button class="w3-button w3-red">
                    expectations
                </button>
            </a>
        </p>
    </div>
    <div class="w3-display-bottomleft w3-container">
        <p class="w3-xlarge">IpsumGods</p>
        <p class="w3-large">Powered by Pizza</p>
        <!--p>powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p-->
    </div>
</div>

<!-- ***************************** end  ***************************** -->


<!-- ***************************** Scanner Modal ***************************** -->

<div id="scanner" class="w3-modal">
    <div class="w3-modal-content w3-animate-zoom">
        <div class="w3-container w3-black w3-display-container">
            <span onclick="document.getElementById('scanner').style.display='none'"
                  class="w3-button w3-display-topright w3-large">x</span>
            <h1>Social Media Scanner</h1>
        </div>

        <div class="w3-container">
            <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with"
                 data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>
            <button onclick="document.getElementById('twitter').style.display='block'" class="w3-button w3-red">
                Twitter
            </button>
        </div>
    </div>
</div>

<!-- ***************************** end  ***************************** -->


<!-- ***************************** facebook submodal  ***************************** -->

<div id="facebook" class="w3-modal">
    <div class="w3-modal-content w3-animate-zoom">
        <div class="w3-container w3-black w3-display-container">
            <span onclick="document.getElementById('facebook').style.display='none'"
                  class="w3-button w3-display-topright w3-large">x</span>
            <h1>Facebook</h1>
        </div>

        <div class="w3-container">
            <p>Something here</p>
        </div>
    </div>
</div>

<!-- *****************************  end ***************************** -->


<!-- ***************************** twitter submodal  ***************************** -->

<div id="twitter" class="w3-modal">
    <div class="w3-modal-content w3-animate-zoom">
        <div class="w3-container w3-black w3-display-container">
            <span onclick="document.getElementById('twitter').style.display='none'"
                  class="w3-button w3-display-topright w3-large">x</span>
            <h1>Twitter</h1>
        </div>

        <div class="w3-container">
            <p>Something here</p>
        </div>
    </div>
</div>

<!-- ***************************** end  ***************************** -->


<!-- ***************************** resume modal ***************************** -->

<div id="resume" class="w3-modal">
    <div class="w3-modal-content w3-animate-zoom">
        <div class="w3-container w3-black">
            <span onclick="document.getElementById('resume').style.display='none'"
                  class="w3-button w3-display-topright w3-large">x</span>
            <h1>Resume Builder</h1>
        </div>
        <div class="w3-container">

            <h2>Personal Information</h2>

            <p id="rNameParent">
                <input class="w3-input w3-padding-6 w3-border" type="text" placeholder="Name" required name="Name"
                       id="rName">
                <input class="w3-input w3-padding-6 w3-border" type="text" placeholder="Address" required
                       name="Address" id="rAddress">
                <input class="w3-input w3-padding-6 w3-border" type="text" placeholder="Phone Number" required
                       name="Phone Number" id="rPhone">
                <input class="w3-input w3-padding-6 w3-border" type="text" placeholder="Email" required
                       name="Email" id="rEmail">
                <input class="w3-input w3-padding-6 w3-border" type="text" placeholder="LinkedIn" required
                       name="LinkedIn" id="rLinkedIn">
                <input class="w3-input w3-padding-6 w3-border" type="text" placeholder="Repository" required
                       name="Repository" id="rRepository"></p>

            <h2>Work Experience</h2>

            <p id="rWorkParent">
            <input class="w3-input w3-padding-6 w3-border" type="text" placeholder="Position" required
                   name="Position" id="rPosition">
            <input class="w3-input w3-padding-6 w3-border" type="text" placeholder="Company" required
                   name="Company" id="rCompany">
            <input class="w3-input w3-padding-6 w3-border" type="text" placeholder="Start Date" required
                   name="Start Date" id="rStart">
            <input class="w3-input w3-padding-6 w3-border" type="text" placeholder="End Date" required
                   name="End Date" id="rEnd"></p>

            <h2>Education</h2>

            <p id="rEducationParent">
                <input class="w3-input w3-padding-6 w3-border" type="text" placeholder="University" required
                       name="University" id="rUniversity">
                <input class="w3-input w3-padding-6 w3-border" type="text" placeholder="Program" required
                       name="Address" id="rProgram">
                <input class="w3-input w3-padding-6 w3-border" type="text" placeholder="Degree" required
                       name="Degree" id="rDegree"></p>


            <p>
                <button class="w3-button w3-red" type="submit" onclick="createResumeJSON(); createResumeJSON2(); createResumeJSON3()">Start resume</button>
            </p>

            <script>


                function createResumeJSON() {
                    var dataNameParent = document.getElementById("rNameParent");
                    var resumeData1 = {rName: " ", rAddress: " ", rPhone: " ", rEmail: " ", rLinkedIn: " ", rRepository: " "};
                    var count = 0;
                    for (var item in resumeData1) {
                        resumeData1[item] = dataNameParent.children[count].value;
                        count++;
                    }

                     console.log(resumeData1);
                    return resumeData1;
                }

                function createResumeJSON2() {
                    var dataWorkParent = document.getElementById("rWorkParent");
                    var resumeData2 = {rPosition : " ", rCompany  : " ", rStart  : " ", rEnd  : " " };
                    var count = 0;
                    for (var item in resumeData2) {
                        resumeData2[item] = dataWorkParent.children[count].value;
                        count++;
                    }

                    console.log(resumeData2);
                    return resumeData2;
                }

                function createResumeJSON3() {
                    var dataEducationParent = document.getElementById("rEducationParent")
                    var resumeData3 = {rUniversity : " ", rProgram  : " ", rDegree  : " " };
                    var count = 0;
                    for (var item in resumeData3) {
                        resumeData3[item] = dataEducationParent.children[count].value;
                        count++;
                    }

                    console.log(resumeData3);
                    return resumeData3;
                }


            </script>
            </form>
        </div>
    </div>
</div>

<!-- ***************************** end  ***************************** -->

</body>
</html>

